<div class="container">
    <div class="text-center">

        <form method="POST" action="/auth/login_maker" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Faça Login com sua conta Maker!</h1>

            <label for="username" class="sr-only">Username</label>
            <input type="text" name="username" placeholder="Nome Maker" class="form-control">
            <br>

            <label for="password" class="sr-only">Senha</label>
            <input type="password" name="password" class="form-control" placeholder="Senha">

            <p class="text-danger">{{errorMessage}}</p>

            <div class="checkbox mb-3">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
            </div>
        </form>

        <hr class="featurette-divider" style="padding-top: 25px; color: white;">

        <h4 style="padding-bottom: 20px;">Ou</h4>

        <hr class="featurette-divider" style="padding-top: 25px; color: white;">

        <div class="checkbox mb-3">
            <a href="/makers/maker_signup" class="nav-link" style="background-color: orange;">Cadastre-se</a>
        </div>

    </div>
</div>